@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
    --offwhite: #F3F4F6;
    --body-background-color: #5cdb95;
    --heading-background: #05386B;
    --body-text : #EDF5E1;
}


header h1 {
    color: var(--body-text);
    text-align: center;
    background-color: var(--heading-background);
    height: 10vh;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 0px;
    border-top-left-radius: 2rem;
    padding: 15px;
    font-family: "DM Sans",sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: var(--body-background-color);
}

#birthday_img {
    display: block;
    height: 15rem;
    margin: 5px auto;
    max-width: 200px;

}

#celebration_img {
    display: block;
    margin: 50px auto;
    max-width: 350px;
}

#notLucky_img {
    display: block;
    margin: 50px auto;
    max-width: 350px;
}

#result_heading {
    text-align: center;
    font-family: 'Zen Tokyo Zoo',
        sans-serif;
}

.content {
    text-align: center;
    width: 60%;
    margin: auto;
    font-size: xx-large;
    font-family: 'Zen Tokyo Zoo', sans-serif;
    color: var(--body-text);
}

.container_input {
    text-align: center;
    color: var(--body-text);
}

#input_birthday {
    width: 160px;
    margin-bottom: 10px;

}

#btn_check {
    display: block;
    background-color: var(--heading-background);
    color:var(--body-text);
    font-size: large;
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 4px 8px;
    margin: 10px auto;

}
.link {

    text-decoration: none;
    padding: 0.5rem 1rem;
}

.list_non_bullet {
    list-style: none;
}

.list_item_inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.footer {
    text-align: center;
    background-color: var(--heading-background);
    border-bottom-right-radius: 2rem;
    padding-bottom: 30px;
    color: var(--body-text);
}

.footer .footer_header {
    font-size: large;
    font-weight: bold;
    color: var(--heading-color);
    padding-top: 10px;
}

.footer_link {
    color: var(--heading-color);
}

#footer_tile_img {
    width: 50px;
    height: 50px;
}


.loader {
    margin: 40px auto;
    display: none;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}